/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bambus1 {
  text-align: center;
  padding: 50px;
}
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  padding: 0 10px;
}

.carousel {
  display: flex;
  gap: 20px;
}

.carousel-item {
  width: 200px;
  text-align: center;
}

.carousel img {
  width: 200px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.image-container {
  display: flex;
  flex-direction: column; /* Standard til mobil, viser billederne under hinanden */
  width: 100%; /* Giver fuld bredde til containeren */
}

.image-container img {
  max-width: 100%; /* Billederne fylder hele bredden af containeren */
  height: auto; /* Bevarer billedets proportioner */
  margin-bottom: none; /* Plads mellem billederne */
}

.kunde {
  padding: 30px;
}

.overskrift_carousel {
  text-align: center;
}

@media screen and (min-width: 1300px) {
  .bambus1 {
    padding-left: 300px;
    padding-right: 300px;
  }
  .image-container {
    flex-direction: row; /* Ændrer til rækkefølge ved desktop */
    justify-content: maximum; /* Placerer billederne med plads imellem */
  }

  .image-container img {
    max-width: auto; /* Giver plads til to billeder ved siden af hinanden */
    margin-bottom: 20px; /* Fjerner margin mellem billederne */
    margin-top: 20px;
  }
  .kunde {
    padding-left: 400px;
    padding-right: 400px;
  }
}
