/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}

body {
  background-color: #faf8f5;
}

h1 {
  font-size: 35px;
  color: #49433c;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

h2 {
  font-size: 28px;
  color: #49433c;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 100;
}

h3 {
  font-size: 23px;
  color: #49433c;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 100;
}

h4 {
  font-size: 21px;
  color: #49433c;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 100;
}

p,
a {
  font-size: 18px;
  color: #49433c;
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

a:hover {
  text-decoration: none;
  font-size: 21px;
}

button {
  background-color: #49433c;
  color: #faf8f5;
  font-size: 18px;
}

@media screen and (min-width: 1300px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 25px;
  }

  p,
  a {
    font-size: 20px;
  }

  button {
    font-size: 20px;
  }
}
