.logo_grid_1-1,
.grid_3-1,
.login_form_grid_4-1 {
  display: grid;
  max-width: 100vw;
}
/* Mobile version start */

.logo_grid_1-1 {
  grid-template-columns: 1fr;
  width: 100%;
  justify-content: center;

  display: flex; /* Der bruges flex fordi det er img */
  align-items: center;
}

.grid_3-1 {
  grid-template-columns: 1fr;
  /* Andet css */
  background: light-dark(#faf8f5, #faf8f5); /* grå baggrund */
  text-align: center;
  margin: 0 auto; /* centrerer horisontalt */
  justify-content: center;
  max-width: 450px;
  height: auto; /* bredde på boksen */
}

.login_form_grid_4-1 {
  grid-template-columns: 1fr;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 16px;
}

body {
  background-color: #c2bdb0; /* Ændrer baggrundsfarven på hele siden */
}

.logo {
  width: 230px; /* Logoets størrelse */
  height: auto;
}

.back-btn {
  text-align: left;
}

.p_login {
  padding: 20px;
}

.shop {
  background: #1313aa;
  color: #faf8f5;
  padding: 10px;
  letter-spacing: 0.02em;
  display: inline-block;
}

.login {
  background: #1d1c1a;
  color: #faf8f5;
  padding: 10px;
  letter-spacing: 0.02em;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;

  /* border: 5px solid #000000; */
}
.tilbage {
  text-align: left;
}

.ikke_medlem {
  grid-template-columns: 1fr 1fr;
  display: grid;
  justify-content: space-between;
  margin-bottom: 20px;
}

#grid_3-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.login_form_grid_4-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mereplads {
  margin-top: 20px;
  margin-bottom: 20px;
}

label,
b {
  font-size: 18px;
  color: #49433c;
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* Mobile version slut */

/* Desktop version start */

@media screen and (min-width: 1300px) {
  :root {
    --gap: 24px;
    --pad: 32px;
  }
}
