.logo_grid_1-1,
.grid_3-1,
.login_form_grid_4-1 {
  display: grid;
  max-width: 100vw;
}
/* Mobile version start */

.logo_grid_1-1 {
  grid-template-columns: 1fr;
  width: 100%;
  justify-content: center;
  border: 5px solid #000000;
  display: flex; /* Der bruges flex fordi det er img */
  align-items: center;
}

.grid_3-1 {
  grid-template-columns: 1fr;
  /* Andet css */
  background: light-dark(#faf8f5, #faf8f5); /* grå baggrund */
  text-align: center;
  margin: 0 auto; /* centrerer horisontalt */
  justify-content: center;
  max-width: 300px; /* bredde på boksen */
}

.login_form_grid_4-1 {
  grid-template-columns: 1fr;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 16px;
}

body {
  background-color: #c2bdb0; /* Ændrer baggrundsfarven på hele siden */
}

.logo {
  width: 230px; /* Logoets størrelse */
  height: auto;
  border: 5px solid #000000;
}

.back-btn {
  text-align: left;
}

.shop {
  background: #1313aa;
  color: #faf8f5;
  padding: 10px;
  letter-spacing: 0.02em;
  display: inline-block;
  margin: 2px;
}

.login {
  background: #1d1c1a;
  color: #faf8f5;
  padding: 10px;
  letter-spacing: 0.02em;
  display: inline-block;
  margin: 15px;
  /* border: 5px solid #000000; */
}
.tilbage {
  border: 5px solid #000000;
  text-align: left;
}

.ikke_medlem {
  text-align: left;
}

/* Mobile version slut */

/* Desktop version start */

@media screen and (min-width: 1300px) {
  :root {
    --gap: 24px;
    --pad: 32px;
  }
}

/* Desktop version slut */
