/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}

body {
  background-color: #faf8f5;
}

button {
  font-size: 20px;
}

.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid_1 {
  display: grid;
  grid-template-columns: 1fr;
}

.ekstra_billede {
  margin: 20px;
  display: none;
}

.overskrift {
  text-align: center;
  grid-row: 1;
  grid-column: 1;
  font-size: 23px;
}

#p_tekst {
  text-align: center;
  grid-row: 3;
  grid-column: 1;
}

#p_tekst_2 {
  margin: 20px;
  line-height: 35px;
}

@media screen and (min-width: 1300px) {
  main {
    margin: 150px;
  }

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 38px;
  }

  p {
    font-size: 20px;
  }

  .overskrift {
    font-size: 27px;
  }

  .tekst {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    align-items: start;
  }

  .tekst .overskrift {
    grid-column: 1 / -1;
    text-align: center;
  }

  .ekstra_billede {
    display: block;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    width: 500px;
    margin: 0;
    height: auto;
  }

  /*Design til footer*/
  .footer {
    display: grid;
    grid-template-columns: 2fr 1.2fr 1.2fr 1.4fr;
    gap: 60px;
    padding: 40px 80px;
  }

  .footer-section {
    border-bottom: none;
    padding: 0;
  }

  /* titlerne skal ligne H2 i desktop */
  .footer-toggle {
    padding: 0 0 10px;
    cursor: default; /* ingen "klik"-fornemmelse */
  }

  .footer-toggle .chevron {
    display: none; /* pil væk på desktop */
  }

  /* altid åbent på desktop */
  .footer-content {
    max-height: none !important;
    overflow: visible;
  }

  span {
    font-size: 25px;
  }
}
