/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}

body {
  background-color: #faf8f5;
}

button {
  font-size: 20px;
}

.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid_1 {
  display: grid;
  grid-template-columns: 1fr;
}

.ekstra_billede {
  margin: 20px;
  display: none;
}

.overskrift {
  text-align: center;
  grid-row: 1;
  grid-column: 1;
  font-size: 23px;
}

#p_tekst {
  text-align: center;
  grid-row: 3;
  grid-column: 1;
}

#p_tekst_2 {
  margin: 20px;
  line-height: 35px;
}

@media screen and (min-width: 1300px) {
  main {
    margin: 150px;
  }

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }

  .overskrift {
    font-size: 27px;
  }

  .tekst {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    align-items: start;
  }

  .tekst .overskrift {
    grid-column: 1 / -1;
    text-align: center;
  }

  .ekstra_billede {
    display: block;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    width: 500px;
    margin: 0;
    height: auto;
  }
}
